@charset "UTF-8";

:root{
    --cor01: #F0F0F2;
    --cor02: #736055;
    --cor03: #7E6C5E;
    --cor04: #261D1A;
    --cor05: #f3e7e3;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor03);
    position: relative;
}

main{
    transition: all  0.35s ease;
    background-color: white;
    width: 280px;
    height: 570px;
    border-radius: 10px;


    margin: auto;
    position: absolute;

    left: 50vw;
    top: 50vh;

    transform: translate(-50%, -50%);

}


div#imagem{
    display: block;
}

main > section#login > div#imagem > img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: fit-content;
} 


div#formulario > h1{
    padding: 10px 0px;
    margin-bottom: -10px;
    text-align: center;
}

form {
    display: inline;
    min-width: 100vw;
}

div#formulario > p{
    padding: 15px;
}

div#formulario div#email ,  div#formulario div#senha{
    background-color: var(--cor04);
    padding: 10px 5px;
    margin-top: 10px;
    margin: 6.5px 10px 0px 10px;
    border-radius: 10px;
}

div#email{
    position: relative;
}

div#senha{
    position: relative;
}

div#entrar{
    position: relative;
}

div#forgotkey{
    position: relative;
}

div#formulario > form > div#email > input{
    position: absolute;

    left: 57%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--cor05);
    height: 35px;
    width: 200px;
    padding-left: 5px;
    margin: auto;
    border-radius: 8.5px;
}

div#formulario > form > div#senha > input{
    position: absolute;

    left: 57%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--cor05);
    height: 35px;
    width: 200px;
    padding-left: 5px;
    margin: auto;
    border-radius: 8.5px;
}

div#formulario > form > div#entrar > input{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 260px;
    height: 35px;
    margin-top: 25px;
    background-color: var(--cor05);
    border-radius: 7px;
    font-weight: bold;
}

div#formulario > form > div#entrar > input:hover, 
div#formulario > form > div#forgotkey > input:hover{
background-color: var(--cor02);
color: white;
}

div#formulario > form > div#forgotkey > input{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 260px;
    height: 35px;
    margin-top: 65px;
    margin-bottom: 25px;
    background-color: var(--cor05);
    border-radius: 7px;
    font-weight: bold;
}

img#carta{
    height: 15px;
}

div#forgotkey img#carta{
    display: block;

    position: absolute;

    left: 73%;
    top:50%;
    transform: translate(-50%, 390%);
}



